# MongoDB Connection URI
MONGO_URI=mongodb://localhost:27017/

# Database Name
DB_NAME=bigdata_elt

# File Router Threshold in MB (Files <= 200 MB use Python Batch, > 200 MB use PySpark)
FILE_SIZE_THRESHOLD_MB=200.0

# Batch chunk size for raw ingestion
BATCH_CHUNK_SIZE=1000

# API Server Configuration
API_HOST=127.0.0.1
API_PORT=8000

# Background Job Scheduler Interval (in minutes)
SCHEDULER_INTERVAL_MINUTES=5
